@import '../../../styles/variable.scss';

.container-modal {
  width: 100%;
  min-height: 94.5vh;
  background-image: linear-gradient(to top,#86dbff 0,#e0c3fc 100%); // Тема
  display: flex;
  justify-content: center;
  position: relative;

  &__button-back {
    cursor: pointer;
    position: absolute;
    top: 100px;
    left: 100px;
    width: 75px;
    height: 75px;
    .a {
      fill: #2b244d;
    }
    .b, .c {
      stroke: #ffffff;
      stroke-width: 2px;
    }
  
    &:hover {
      transform: scale(1.1);
    }
  }

  @media (max-width: $screen-xs-max) {
    &__button-back {
      width: 50px;
      height: 50px;
      top: 40px;
      left: 45px;
    }
  }

  @media (min-width: $screen-sm) and (max-width: $screen-md-max) {
    &__button-back {
      left: 25px;
    }
  }

  @media (min-width: $screen-lg) and (max-width: $screen-lg-max) {
    &__button-back {
      left: 50px;
    }
  }
}

.modal-window {
  width: 60%;
  min-height: 650px;
  margin-top: 50px;
  animation: zoomInUp; 
  animation-duration: 1s;

  .block-top {
    display: flex;
    justify-content: space-evenly;
    overflow: hidden;
    flex-wrap: wrap;
    width: 100%;
    height: 50%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background: linear-gradient(0deg, rgba(253,184,185,1) 30%, rgba(120,119,214,1) 90%);
    color: #ffffff;

    .block-top-left {
      width: 50%;
      text-align: center;
      margin-top: 50px;

      &__temp {
        font-size: 96px;
      }

      &__weather {
        letter-spacing: 2px;
        font-size: 18px;
        text-transform: uppercase;
      }

      &__other {
        display: flex;
        justify-content: center;
        font-size: 18px;
      }

      &__humidity, &__wind {
        position: relative;
        margin: 20px;
      }

      &__humidity::after {
        content: "";
        position: absolute;
        top: 5px;
        right: -17px;  
        width: 2px;
        height: 35px;
        background-color: #ffffff;
      }
    }

    .block-top-right {
      width: 50%;
      margin-top: 50px;
      display: flex;
      justify-content: center;
      &__name-city  {
        text-transform: uppercase;
        position: relative;
        font-size: 82px;
        height: 125px;
      }

      &__name-city::after {
        content: "";
        position: absolute;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 5px;
        background-color: #ffffff;
        border-radius: 5px;
      }
    }
  }

  .block-bottom {
    width: 100%;
    height: 250px;
    display: flex;
    justify-content: center;
    background-color: #ffffff;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    
    .next-days {
      width: 90%;
      display: flex;
      justify-content: space-evenly;
      padding-top: 40px;
      color: #39437a;

      .day {
        width: 20%;
        text-align: center;

        &__title {
          font-weight: bold;
          text-transform: uppercase;
          font-size: 22px;
        }

        &__icon {
          margin-top: 10px;
          width: 100px;
          height: 75px;
        }

        &__temp {
          font-size: 22px;
        }

        &__weather {
          font-size: 14px;
        }
      }
    }
  }

  @media (max-width: $screen-xs-max) {
    width: 80%;
    min-height: 900px;
    margin-top: 25px;

    .block-top {
      height: 375px;
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: center;
      align-items: center;
      height: normal;
      .block-top-left {
        margin: 10px;
        &__temp {
          font-size: 72px;
        }
      }
      .block-top-right {
        margin: 10px;
        &__name-city {
          font-size: 42px;
          &::after {
            bottom: 50px;
          }
        }
      }
    }

    .block-bottom {
      min-height: 500px;
      .next-days {
        justify-content: center;
        flex-wrap: wrap;
        .day {
          width: 100px;
          &__weather {
            display: none;
          }
        }
      }
    }
  }

  @media (min-width: $screen-sm) and (max-width: $screen-md-max) {
    width: 75%;

    .block-top {
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: center;
      align-items: center;
      .block-top-left {
        margin: 20px;
        &__temp {
          font-size: 84px;
        }
      }
      .block-top-right {
        margin: 20px;

        &__name-city {
          font-size: 72px;
          &::after {
            bottom: 10px;
          }
        }
      }
    }

    .block-bottom {
      height: 400px;
      .next-days {
        justify-content: center;
        flex-wrap: wrap;
        .day {
          width: 100px;
          &__weather {
            display: none;
          }
        }
      }
    }
  }

  @media (min-width: $screen-lg) and (max-width: $screen-lg-max) {
    width: 70%;

    .block-top {
      .block-top-left {
        &__temp {
          font-size: 84px;
        }
      }
      .block-top-right {
        &__name-city {
          font-size: 58px;

          &::after {
            bottom: 10px;
          }
        }
      }
    }

    .block-bottom {
      height: 275px;
      .next-days {
        margin-top: 10px;
        align-items: normal;
      }
    }
  }

  @media (min-width: $screen-xl) and (max-width: $screen-xl-max) {
    width: 70%;
  }
}

.modal-search {
  width: 100%;
  animation: none;
  
  .block-top {
    .block-top-left {
      margin-top: 25px;
      &__temp {
        font-size: 80px;
      }

      &__weather {
        font-size: 16px;
      }
    }

    .block-top-right {

      &__name-city  {
        position: relative;
        font-size: 48px;
        height: 75px;
      }
    }
  }

  .block-bottom {
    margin-top: 20px;
    align-content: flex-start;

    .next-days {
      width: 100%;
    }
  }

  @media (min-width: $screen-xl) and (max-width: $screen-xl-max) {
    .block-top {
      .block-top-right {
        &__name-city {
          font-size: 36px;
          &::after {
            bottom: 20px;
          }
        }
      }
    }
  }
}