.container-search {
  width: 100%;
  display: flex;
  justify-content: center;
}

.block-search {
  position: relative;
  width: 90%;
  margin-top: 25px;
  padding: 25px 50px;
  background-color: #ffffff;
  border-radius: 15px;
  display: flex;
  overflow: hidden;
}

.block-search .block-left {
  flex-basis: 100%;
  text-align: center;
}

.block-search .block-left__header {
  text-transform: uppercase;
  font-size: 32px;
  font-weight: bold;
  color: #0c1066;
}

.block-search .block-left__styles-points {
  margin-top: 30px;
  word-spacing: 15px;
  font-size: 18px;
}

.block-search .block-left__button-add {
  cursor: pointer;
  width: 150px;
  height: 50px;
  background-color: #2b244d;
  font-size: 14px;
  font-weight: bold;
  color: #ffffff;
  border: none;
  border-radius: 50px;
  outline: none;
}

.block-search .block-left__button-add:hover {
  transform: scale(1.1);
}

.block-search .block-left .form-search {
  position: relative;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.block-search .block-left .form-search__input {
  width: 75%;
  height: 50px;
  border-radius: 50px;
  border: none;
  outline: none;
  font-size: 18px;
  color: #0c1066;
  padding-left: 20px;
  box-shadow: 0px 5px 10px 2px rgba(12, 16, 102, 0.2);
}

.block-search .block-left .form-search__input::placeholder {
  color: #0c1066;
}

.block-search .block-left .form-search__button {
  cursor: pointer;
  position: absolute;
  right: 10%;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: none;
  outline: none;
  background-color: #31feae;
  color: #ffffff;
}

.block-search .block-left .form-search__icon {
  margin-top: 5px;
  font-size: 40px;
}

.block-search .block-left .main-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.block-search .block-left .main-content .found-card {
  cursor: default;
  box-shadow: 0px 5px 10px 2px rgba(12, 16, 102, 0.2);
}

.block-search .block-left .main-content .found-card:hover {
  transform: none;
}

.block-search .block-left .main-content .block-unknown-city {
  margin: 25px;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
}

.block-search .block-left .main-content .block-unknown-city__icon {
  margin-top: 10px;
  font-size: 40px;
  color: red;
}

.block-search .block-right {
  flex-basis: 100%;
  display: flex;
  align-items: center;
}

.block-search .button-close {
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  outline: none;
  background-color: #31feae;
  color: #ffffff;
}

@media (max-width: 575px) {
  .block-search {
    width: 99%;
    padding: 0;
    margin-bottom: 25px;
    flex-wrap: wrap;
  }
  .block-search .block-left {
    margin-top: 20px;
  }
  .block-search .block-left__header {
    width: 100%;
    font-size: 24px;
  }
  .block-search .block-left__styles-points {
    font-size: 14px;
  }
  .block-search .block-left__button-add {
    margin-bottom: 10px;
  }
  .block-search .block-left .main-content {
    display: flex;
    position: relative;
  }
  .block-search .block-left .form-search {
    margin-top: 25px;
  }
  .block-search .block-left .form-search__input {
    width: 80%;
    font-size: 14px;
    height: 40px;
  }
  .block-search .block-left .form-search__button {
    width: 50px;
    height: 50px;
    right: 3%;
  }
  .block-search .block-right {
    display: none;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .block-search {
    flex-wrap: wrap;
    margin-bottom: 25px;
  }
  .block-search .block-left__header {
    font-size: 28px;
  }
  .block-search .block-left__styles-points {
    font-size: 16px;
  }
  .block-search .block-left .form-search {
    margin-top: 25px;
  }
  .block-search .block-left .form-search__input {
    font-size: 16px;
    height: 40px;
  }
  .block-search .block-left .form-search__button {
    width: 60px;
    height: 60px;
  }
  .block-search .block-right {
    height: 40%;
  }
}

@media (min-width: 768px) and (max-width: 1299px) {
  .block-search {
    flex-wrap: wrap;
    margin-bottom: 25px;
  }
  .block-search .block-right {
    height: 40%;
  }
  .block-search .block-right .modal-window {
    min-height: 450px;
  }
}

.lds-ring {
  margin: 50px 0;
  display: inline-block;
  position: relative;
  width: 100px;
  height: 100px;
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 90px;
  height: 90px;
  margin: 8px;
  border: 8px solid #0c1066;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #0c1066 transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/*# sourceMappingURL=Search.css.map */