@import '../../../styles/variable.scss';

.container-search {
  width: 100%;
  display: flex;
  justify-content: center;
  @media (max-width: $screen-xs-max) {
    // min-height: 110vh;
  }
}

.block-search {
  position: relative;
  width: 90%;
  margin-top: 25px;
  padding: 25px 50px; 
  background-color: #ffffff;
  border-radius: 15px;
  display: flex;
  overflow: hidden;

  .block-left {
    flex-basis: 100%;
    text-align: center;

    &__header {
      text-transform: uppercase;
      font-size: 32px;
      font-weight: bold;
      color: #0c1066;
    }

    &__styles-points {
      margin-top: 30px;
      word-spacing: 15px;
      font-size: 18px;
    }

    &__button-add {
      cursor: pointer;
      width: 150px;
      height: 50px;
      background-color: #2b244d;
      font-size: 14px;
      font-weight: bold;
      color: #ffffff;
      border: none;
      border-radius: 50px;
      outline: none;

      &:hover {
        transform: scale(1.1);
      }
    }

    .form-search {
      position: relative;
      margin-top: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      &__input {
        width: 75%;
        height: 50px;
        border-radius: 50px;
        border: none;
        outline: none;
        font-size: 18px;
        color: #0c1066;
        padding-left: 20px;
        box-shadow: 0px 5px 10px 2px rgba(12, 16, 102, 0.2);
        &::placeholder {
          color: #0c1066;
        }
      }

      &__button {
        cursor: pointer;
        position: absolute;
        right: 10%;
        width: 80px;
        height: 80px;
        border-radius: 50%;
        border: none;
        outline: none;
        background-color: #31feae;
        color: #ffffff;
      }

      &__icon {
        margin-top: 5px;
        font-size: 40px;
      }
    }

    .main-content {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;

      .found-card {
        cursor: default;
        box-shadow: 0px 5px 10px 2px rgba(12, 16, 102, 0.2);
        &:hover {
          transform: none;
        }
      }

      .block-unknown-city {
        margin: 25px;
        font-size: 20px;
        font-weight: bold;
        text-transform: uppercase;
        &__icon {
          margin-top: 10px;
          font-size: 40px;
          color: red;
        }
      }
    }
  }

  .block-right {
    flex-basis: 100%;
    display: flex;
    align-items: center;
  }

  .button-close {
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    outline: none;
    background-color: #31feae;
    color: #ffffff;
  }
  
  @media (max-width: $screen-xs-max) {
    width: 99%;
    padding: 0;
    margin-bottom: 25px;
    flex-wrap: wrap;

    .block-left {
      margin-top: 20px;
      &__header {
        width: 100%;
        font-size: 24px;
      }

      &__styles-points {
        font-size: 14px;
      }

      &__button-add {
        margin-bottom: 10px;
      }

      .main-content {
        display: flex;
        position: relative;
      }

      .form-search {
        margin-top: 25px;
        &__input {
          width: 80%;
          font-size: 14px;
          height: 40px;
        }
        &__button {
          width: 50px;
          height: 50px;
          right: 3%;
        }
      }
    }
    .block-right {
      display: none;
    }
  }

  @media (min-width: $screen-sm) and (max-width: $screen-sm-max) {
    flex-wrap: wrap;
    margin-bottom: 25px;

    .block-left {
      &__header {
        font-size: 28px;
      }

      &__styles-points {
        font-size: 16px;
      }

      .form-search {
        margin-top: 25px;
        &__input {
          font-size: 16px;
          height: 40px;
        }
        &__button {
          width: 60px;
          height: 60px;
        }
      }
    }

    .block-right {
      height: 40%;
    }
  }

  @media (min-width: $screen-md) and (max-width: $screen-lg-max) {
    flex-wrap: wrap;
    margin-bottom: 25px;

    .block-right {
      height: 40%;
      .modal-window {
        min-height: 450px;
      }
    }
  }
}

.lds-ring {
  margin: 50px 0;
  display: inline-block;
  position: relative;
  width: 100px;
  height: 100px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 90px;
  height: 90px;
  margin: 8px;
  border: 8px solid #0c1066;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #0c1066 transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}