.container-main .header {
  position: sticky;
  top: 0;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  height: 50px;
}

.container-main .header__title {
  display: flex;
  width: 220px;
}

.container-main .header__name {
  font-weight: bold;
  font-size: 18px;
  letter-spacing: 2px;
}

.container-main .header__icon {
  width: 40px;
  height: 40px;
  position: relative;
  bottom: 5px;
  margin-left: 10px;
}

.container-main .header__center {
  width: 230px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px;
  letter-spacing: 3px;
}

.container-main .header .block-button {
  width: 220px;
}

.container-main .header .block-button .switch {
  position: relative;
  width: 60px;
  height: 30px;
  float: right;
}

.container-main .header .block-button .switch .slider {
  cursor: pointer;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 50px;
  background: #66a6ff;
  transition: .4s;
}

.container-main .header .block-button .switch .slider::before {
  content: "";
  position: absolute;
  top: 3px;
  left: 3px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: #ffde17;
  transition: .4s;
}

.container-main .header .block-button .switch input {
  display: none;
}

.container-main .header .block-button .switch input:checked + .slider {
  background: #ff0070;
}

.container-main .header .block-button .switch input:checked + .slider::before {
  background: #fff;
  transform: translateX(29px);
}

@media (max-width: 575px) {
  .container-main .header__title {
    width: 70%;
  }
  .container-main .header .block-button {
    width: 30%;
  }
  .container-main .header__center {
    display: none;
  }
}

.lightTheme {
  background-image: linear-gradient(to top, #5ee7df 0, #66a6ff 100%);
}

.lightTheme .header {
  background-color: #fff;
}

.darkTheme {
  background-image: linear-gradient(to bottom, #711b86, #00057a);
}

.darkTheme .header {
  background-color: #2b244d;
  color: #fff;
}

.darkTheme .card {
  background-color: #2b244d;
  color: #fff;
}

.darkTheme .container-card .button-delete {
  background: #2b244d;
  color: #fff;
}

.darkTheme .add-card {
  background-color: #2b244d;
  color: #fff;
}

.darkTheme .container-modal {
  background-image: linear-gradient(#fc7db8, #495cfc);
}

.darkTheme .container-modal .block-top {
  background-image: linear-gradient(to bottom, #711b86, #00347a);
}

.darkTheme .container-modal .block-bottom {
  background: #2b244d;
}

.darkTheme .container-modal .block-bottom .next-days {
  color: #fff;
}

.darkTheme .modal-search .block-bottom {
  margin: 0;
  padding: 15px;
}

.darkTheme .block-search .block-left .form-search__button {
  background-color: #711b86;
}

.darkTheme .block-search .block-right .modal-search .block-top {
  background-image: linear-gradient(to bottom, #711b86, #00347a);
}

.darkTheme .block-search .block-right .modal-search .block-bottom {
  background: #2b244d;
}

.darkTheme .block-search .block-right .modal-search .block-bottom .next-days {
  color: #fff;
}

.darkTheme .block-search .button-close {
  background-color: #711b86;
}
/*# sourceMappingURL=Content.css.map */