.container-cards {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  animation: fadeInUp;
  animation-duration: 1s;
}

.container-card {
  position: relative;
}

.container-card .button-delete {
  cursor: pointer;
  position: absolute;
  z-index: 10;
  top: 55px;
  right: 55px;
  width: 25px;
  height: 25px;
  border: none;
  outline: none;
  border-radius: 50%;
  background-color: #ffffff;
}

.container-card .button-delete:hover {
  background: red;
  color: #ffffff;
}

.card {
  z-index: 1;
  cursor: pointer;
  position: relative;
  margin: 50px;
  width: 300px;
  height: 450px;
  padding: 30px;
  background-color: #fff;
  border-radius: 5%;
  text-align: center;
}

.card__name-city {
  text-transform: uppercase;
  font-size: 22px;
  letter-spacing: 2px;
  margin-bottom: 30px;
}

.card__icon-weather {
  margin: 0;
  width: 175px;
  height: 150px;
}

.card__temp {
  margin-top: 10px;
  font-size: 48px;
}

.card__weather {
  margin-top: 10px;
  text-transform: uppercase;
  font-weight: bold;
}

.card .block-min-max {
  margin-top: 10px;
  display: flex;
  justify-content: space-around;
}

.card .block-min-max .block-min, .card .block-min-max .block-max {
  display: block;
}

.card .block-min-max .block-min__temp, .card .block-min-max .block-max__temp {
  font-size: 26px;
  margin: 0;
}

.card .block-min-max .block-min__temp-icon, .card .block-min-max .block-max__temp-icon {
  width: 100%;
}

.card .block-min-max .block-min span {
  color: #00ff9b;
}

.card .block-min-max .block-max span {
  color: #ff0070;
}

.card:hover {
  transform: scale(1.05);
}

.add-card {
  cursor: pointer;
  margin: 50px;
  width: 300px;
  height: 450px;
  padding: 30px;
  background-color: #fff;
  border-radius: 5%;
  text-align: center;
}

.add-card__header {
  text-transform: uppercase;
  font-size: 22px;
  letter-spacing: 2px;
  margin-bottom: 30px;
}

.add-card:hover {
  transform: scale(1.1);
}

@media (max-width: 575px) {
  .card, .add-card {
    margin: 50px 0;
  }
}
